.broadcastbox {
  flex-grow: 10;
}

.broadcastView {
  flex-grow: 4;
  padding: 10px;
  align-items: flex-start;

  video {
    width: 200px;
    margin: 3px;
  }

  .broadcast {
    border: 4px solid $black;

    &.talking {
      border: 4px solid $main;
    }
  }
}

.broadcastControls {
  flex-grow: 1;
  padding: 10px;
  background: $lightMain;
}
