.broadcastbox {
  flex-grow: 10;
}

.broadcastView {
  flex-grow: 4;
  padding: 10px;
  align-items: flex-start;

  video {
    width: 200px;
    margin: 3px;
  }
}

.broadcastControls {
  flex-grow: 1;
  padding: 10px;
  background: $lightMain;
}
