.broadcastbox {
  flex-grow: 10;
}

.broadcastView {
  flex-grow: 4;
  padding: 10px;
  align-items: flex-start;
  align-content: flex-start;

  video {
    width: 25%;
    margin: 3px;
  }
}

.broadcastControls {
  flex-grow: 1;
  padding: 10px;
  background: $lightMain;
}
