.chatbox {
  flex-grow: 1;
  padding: 10px;

  .author {
    margin-right: 3px;
    display: inline-block;

    &:after {
      content: ":";
    }
  }
}

.chatlist {
  flex-grow: 4;
}

.chatform {
  flex-grow: 1;

  input {
    flex-grow: 8
  }

  button {
    flex-grow: 1
  }
}
