html, body, #content {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.container-nowrap {
  min-height: 100%;
  display: flex;
  flex-flow: row no-wrap;
}

.container-vertical {
  display: flex;
  flex-flow: column wrap;
}

.primary {
  background: $main;
  color: $white;
}

.button {
  border: none;
}

textarea:focus {
  outline: #AEE5D8 auto 5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
